html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;

    font-family: 'Libre Baskerville', serif;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#username {
    position: absolute;
    top: 5;
    right: 5;
}
